AWS_PROFILE=
AWS_REGION=

TARGET_APP_NAME=
TARGET_APP_ENV=
TARGET_APP_COMPONENT=
DEFAULT_LOG_GROUP_NAME=
ALLOWED_LOG_GROUP_NAMES=

TF_VAR_aws_region=
TF_VAR_project_name=
TF_VAR_environment=
TF_VAR_python_executable=
TF_VAR_target_app_name=
TF_VAR_target_app_environment=
TF_VAR_target_app_component=
TF_VAR_default_log_group_name=
TF_VAR_runtime_image_tag=
