.env
.venv/
__pycache__/
*.pyc
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/terraform/terraform.tfvars
terraform/.build/
